.line-link {
    font-weight: 500;
    /* Equivalent to font-medium */
    display: inline-block;
}

.line-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: currentColor;
    transition: width 0.5s;
    margin-top: 4px;
    /* Space below the text before the underline */
}

.line-link:hover::after {
    width: 100%;
}