@import "tailwindcss";

:root {
  background-color: #000000;
  font-family: "Outfit", sans-serif;
  /* font-weight: 300; */
  font-style: normal;
  color: #FFFEFC;
}

body {
  overflow-x: hidden;
}

.spline-bg {
  position: absolute;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  inset: 0;
  top: 10px;
  left: 400px;
  transform: scale(1.25);
}

@media (max-width: 1024px) {
  .spline-bg {
    left: 200px;
  }
}

@media (max-width: 768px) {
  .spline-bg {
    left: 50px;
  }
}

@media (max-width: 640px) {
  .spline-bg {
    top: 75px;
    left: 0;
  }
}

::-webkit-scrollbar {
  width: 0px;
  /* scroll-behavior: smooth; */
}

html {
  scroll-behavior: smooth;
}

.fuzzy-overlay {
  position: fixed;
  overflow: hidden;
  inset: -200%;
  z-index: 15;
  background-image: url("./assets/img/noise-bg.png");
  opacity: 15%;
  pointer-events: none;
  animation: shift 0.2s linear infinite both;
}

@keyframes shift {
  0% {
    transform: translateX(20%) translateY(20%);
  }

  100% {
    transform: translateX(-10%) translateY(-10%);
  }
}

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */